@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;

.page-header-socials {
  display: flex;
  gap: $spacing-150;
  margin: 0 0 $spacing-200;

  a {
    display: flex;
    transition: ease .2s;

    &:hover {
      opacity: 0.7;
    }

    svg {
      overflow: initial;

      > path {
        &:first-of-type {
          fill: var(--intro-social-icon-background);
        }

        &:last-of-type {
          fill: var(--intro-social-icon-foreground);
        }
      }
    }
  }
}