@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

#main-content {
  > div {
    > #single-blog-content {
      max-width: 100%;

     > p {
       margin: $spacing-200 0 0;

       @media(min-width: $media-lg) {
         margin: $spacing-150 0 0;
       }

        &:first-of-type {
          margin:0;
        }
      }

      table {
        margin: $spacing-200 0 0;

        @media(min-width: $media-lg) {
          margin: $spacing-150 0 0;
        }
      }

      > h1 {
        @include fontStyles('preset-2');
      }

      > h2 {
        margin: 0;
        @include fontStyles('preset-2');
      }

      > h3, h4, h5, h6 {
        margin: $spacing-200 0 0;

        @media(min-width: $media-lg) {
          margin: $spacing-150 0 0;
        }
      }

      > h3 {
        @include fontStyles('preset-3');
      }

      > h4 {
        @include fontStyles('preset-4');
      }

      > h5 {
        @include fontStyles('preset-5');
      }

      > h6 {
        @include fontStyles('preset-6');
      }

      .table-wrapper {
        overflow-x: auto;
        table {
          border-radius: $radius-12;
          border-spacing: 0;
          width: 100%;

          tr {
            &:last-child {
              td {
                &:first-child {
                  border-radius: 0 0 0 $radius-12;
                }
                &:last-child {
                  border-radius: 0 0 $radius-12 0;
                }
              }
            }

            &:not(:last-child) {
              td {
                border-bottom: 0;
              }
            }

            th, td {
              padding: $spacing-075 18px $spacing-100;
              white-space: nowrap;
              word-break: break-word;
              overflow-wrap: break-word;
            }

            th {
              @include fontStyles('preset-6');
              text-align: left;
              border-bottom: 0;
              color: var(--page-body-heading);

              &:first-child {
                border-radius: $radius-12 0 0 0;
              }

              &:last-child {
                border-radius: 0 $radius-12 0 0;
              }
            }

            td {
              @include fontStyles('preset-8');
              color: var(--page-body-text);
            }
          }

          table, th, td {
            border: solid 1px var(--page-border);
          }
        }
      }

      > blockquote {
        margin: $spacing-200 0 0;
        padding-left: $spacing-150;

        @media(min-width: $media-lg) {
          margin: $spacing-150 0 0;
        }

        > p {
          margin: 0;

          > br {
            margin: 5px 0;
          }
        }

        &.tip, &.warning, &.information {
          padding: $spacing-250 $spacing-250  $spacing-250 $spacing-500;
        }
      }

     > pre {
        border-radius: $radius-12;
        padding: $spacing-150;
        background-color: var(--code-hjls-background);

        code.hljs {
          word-break: break-word;
          white-space: pre-wrap;
          font-family: $font-family-fira-code;
          color: var(--code-hjls-neutral);

          .hljs-keyword {
            color: var(--code-hjls-primary);
          }

          .hjls-comment {
            color: var(--code-hjls-neutral);
            opacity: .5;
          }

          .hljs-title.function_ {
            color: var(--code-hjls-secondary);
          }

          .hljs-meta {
            color: var(--code-hjls-primary);


            .hljs-keyword {
              color: var(--code-hjls-secondary);
            }
          }

          .hljs-tag {
            color: var(--code-hjls-primary);

            .hljs-name {
              color: var(--code-hjls-primary);
            }

            .hljs-attr {
              color: var(--code-hjls-secondary);
            }

            .hljs-string {
              color: var(--code-hjls-tertiary);
            }
          }
        }

        code.language-js {
          color: var(--code-hjls-tertiary);

          .hljs-comment {
            color: var(--code-hjls-neutral);
            opacity: .5;
          }

          .hljs-string {
            color: var(--code-hjls-neutral);
          }
        }
      }

      > ul, > ol {
        margin: 0;
        padding-left: $spacing-250;

        > li {
          margin: $spacing-200 0 0;

          @media(min-width: $media-lg) {
            margin: $spacing-150 0 0;
          }
        }
      }

      > * {
        &:last-child {
          margin-bottom: $spacing-300;

          @media(min-width: $media-md) {
            margin-bottom: $spacing-400;
          }

          @media(min-width: $media-lg) {
            margin-bottom: $spacing-600;
          }
        }
      }
    }
  }
}