@use "../../../styles/spacing" as *;
@use "../../../styles/colours" as *;
@use "../../../styles/typography" as *;

header {
  border-radius: $radius-10;
  margin: $spacing-250 0 0;

  nav {
    width: 100%;
    position: relative;
    transition: background-color .3s ease-in-out;
    background-color: var(--page-nav-background);
    border-radius: $radius-10;

      .nav-wrapper {
        display: flex;
        align-items: center;
        padding: $spacing-075;
        border: solid 1px var(--page-border);
        border-radius: $radius-10;

        .profile-photo {
          max-width: $icon-max-width;
          width: 100%;
          height: auto;
          margin: 0 auto 0 0;
        }
     }
  }
}
