@use "colours" as *;
@use "typography" as *;
@use "spacing" as *;

h1, h2, h3, h4, h5, h6 {
  transition: color .3s ease-in-out;
  color: var(--page-body-heading);
}

h1 {
  @include fontStyles('preset-1');
}

h2 {
  @include fontStyles('preset-2');
}

h3 {
  @include fontStyles('preset-3');
}

h4 {
  @include fontStyles('preset-4');
}

h5 {
  @include fontStyles('preset-5');
}

h6 {
  @include fontStyles('preset-6');
}

li, p, a {
  @include fontStyles('preset-7');
  color: var(--page-body-text);
  transition: color .3s ease-in-out;
}

html {
  position: relative;

  &:before, &:after {
    content: url("../../src/assets/images/pattern-light.svg");
    position: absolute;
    display: none;

    @media (min-width: 1129px) {
      display: block;
    }
  }

  &:before {
    top: 225px;
    left: -210px;
  }

  &:after {
    top: 0;
    right: -210px;
  }
}

.page-container {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background: var(--page-background);
  transition: background-color .3s ease-in-out;
  display: flex;
  justify-content: center;

  .page-wrapper {
    max-width: $container-max-width;
  }

  #main-content {
    border: solid 1px var(--page-border);
    transition: border-color .3s ease-in-out;
    border-top: none;
    padding: $spacing-200 $spacing-150 $spacing-100;
    margin: 0 $spacing-150 0;
  }
}