@use "colours" as *;
@use "typography" as *;
@use "spacing" as *;

h1, h2, h3, h4, h5, h6 {
  color: $neutral-700;
}

h1 {
  @include fontStyles('preset-1');
}

h2 {
  @include fontStyles('preset-2');
}

h3 {
  @include fontStyles('preset-3');
}

h4 {
  @include fontStyles('preset-4');
}

h5 {
  @include fontStyles('preset-5');
}

h6 {
  @include fontStyles('preset-6');
}

li, p, a {
  @include fontStyles('preset-7');
  color: $neutral-600;
}

body {
  max-width: $container-max-width;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background: $neutral-100;

  #main-content {
    border: solid 1px $neutral-200;
    border-top: none;
    padding: $spacing-200 $spacing-150 $spacing-100;
    margin: 0 $spacing-150 0;
  }
}