@use "colours" as *;
@use "typography" as *;
@use "spacing" as *;

::selection {
  background-color: var(--intro-social-icon-foreground);
  color: var(--intro-social-icon-background);
}

body {
  margin: 0;
}

hr {
  border: none;
  border-bottom: solid 1px var(--page-border);
  height: 0;
  margin: $spacing-300 0;
}

blockquote {
  border-left: 4px var(--neutral-400) solid;
  margin-left: 0;
  padding-left: $spacing-300;

  &.warning, &.information, &.tip {
    border-left: none;
    position: relative;
    border-radius: $radius-12;
    padding: $spacing-250 $spacing-250  $spacing-250 $spacing-500;

    &:after {
      position: absolute;
      top: 23px;
      left: $spacing-150;
    }

    strong {
      margin: 0 0 $spacing-075;
      @include fontStyles('preset-5');
    }

    p {
      margin: 0;
    }
  }

  &.information {
    background-color: var(--blue-200);
    border: solid 1px var(--blue-500);

    &:after {
      content: url("/src/assets/images/icon-info.svg");
    }
  }

  &.warning {
    background-color: var(--yellow-200);
    border: solid 1px var(--yellow-500);

    &:after {
      content: url("/src/assets/images/icon-warning.svg");
    }
  }

  &.tip {
    background-color: var(--green-200);
    border: solid 1px var(--green-500);

    &:after {
      content: url("/src/assets/images/icon-tip.svg");
    }
  }
}

code {
  border-radius: $radius-12;
  background-color: rgba(27, 31, 35, 0.05);
  padding: $spacing-025 $spacing-050;
  font-family: monospace;
  color: #e06c75;
}

table {
  border-collapse: collapse;
  border-radius: $radius-12;

  tr {
    th, td {
      padding: $spacing-075 $spacing-150 $spacing-100;
    }

    th {
      @include fontStyles('preset-6');
      text-align: left;
    }

    td {
      @include fontStyles('preset-8');
    }
  }

  table, th, td {
    border: solid 1px var(--neutral-200);
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: $radius-12;
  margin: 0 0 $spacing-300;
}

h1, h2, h3, h4, h5, h6 {
  transition: color .3s ease-in-out;
  color: var(--page-body-heading);
}

h1 {
  @include fontStyles('preset-1');
}

h2 {
  @include fontStyles('preset-2');
}

h3 {
  @include fontStyles('preset-3');
}

h4 {
  @include fontStyles('preset-4');
  margin: $spacing-300 0 $spacing-200;
}

h5 {
  @include fontStyles('preset-5');
}

h6 {
  @include fontStyles('preset-6');
}

li, p, a, label {
  @include fontStyles('preset-7');
  color: var(--page-body-text);
  transition: color .3s ease-in-out;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline solid var(--blue-500) 3px;
  }
}

.view-all-btn {
  text-decoration: underline solid var(--blue-500) 3px;
  transition: opacity .3s ease;
  margin: 0 0 $spacing-400 ;
  @include fontStyles('preset-6');

  &:hover {
    opacity: .7;
  }
}

html {
  position: relative;

  &:before, &:after {
    content: url("../../src/assets/images/pattern-light.svg");
    position: absolute;
    display: none;

    @media (min-width: 1129px) {
      display: block;
    }
  }

  &:before {
    top: 225px;
    left: -210px;
  }

  &:after {
    top: 0;
    right: -210px;
  }
}