@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;

.page-container {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background: var(--page-background);
  transition: background-color .3s ease-in-out;
  display: flex;
  justify-content: center;

  .page-wrapper {
    max-width: $container-max-width;
    padding: 0 $spacing-200;
  }

  #main-content {
    border: solid 1px var(--page-border);
    transition: border-color .3s ease-in-out;
    border-top: none;
    padding: $spacing-200 $spacing-150 $spacing-100;
    margin: 0 $spacing-050 0;

    @media(min-width: 768px) {
      margin: 0 $spacing-100 0;
    }
  }
}