@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

.page-header {
  margin: $spacing-400 0 0;
  padding: 0 0 $spacing-400 0;
  transition: border-bottom-color ease .3s;

  &:not(:has(+ .newsletter-signup-container)) {
    border-bottom: solid 1px var(--page-border);
  }

  .page-header-title-wrapper {
    position: relative;
    width: fit-content;

    .page-header-title {
      z-index: 1;
      position: relative;
    }

    .has-style-underline, .has-style-side-rule {
      background-color: var(--blue-500);
      position: absolute;
    }

    .has-style-underline {
      height: 8px;
      bottom: 3px;
      width: 100%;
    }

    .has-style-side-rule {
      height: 3px;
      bottom: 8px;
      width: 40px;
      right: -48px;
    }
  }

  .page-header-title, p {
    margin: 0 0 $spacing-300 0;
  }

  p {
    &:last-child {
      margin: 0
    }
  }

  &.page-about {
   border-bottom: 0;
  }

  &.page-blog {
    padding: 0 0 $spacing-300 0;
    .page-header-title-wrapper {
      .page-header-title {
        margin: 0 0 $spacing-075;
      }
    }
  }

  &.page-newsletter {
    padding: 0 0 $spacing-250 0;

    .page-header-title-wrapper {
      .page-header-title {
        margin: 0 0 $spacing-200;
      }
    }

    p {
      margin: 0 0 $spacing-200;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &.page-single-blog {
    border-bottom: none;
    padding: 0;

    .page-header-title-wrapper {
      .page-header-title {
        margin: 0 0 $spacing-150;
      }
    }
    .post-meta {
      @include fontStyles('preset-8');
      font-style: italic;
      margin: 0 0 $spacing-150;
    }
  }
}