header {
  nav {
    background-color: red;

    ul {
      list-style: none;
      display: flex;
      gap: 12px;

      li {
        @include fontStyles('preset-1');
        color: blue;
      }
    }
  }
}
