@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

header {
  transition: background-color .3s ease-in-out;
  display: flex;
  background-color: var(--page-nav-background);
  border-radius: $radius-10;
  margin: $spacing-250 0 0;

  nav {
    width: 100%;

      .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-075;

        .profile-photo {
          max-width: $icon-max-width;
          width: 100%;
          height: auto
        }

      ul {
        list-style: none;
        display: flex;
        gap: $spacing-300;
        margin: 0;

        .light-dark-toggle {
          cursor: pointer;
        }

        li {
          a {
            @include fontStyles('preset-8');
            text-decoration: none;

            &:hover {
              text-decoration: underline 3px var(--blue-500);
            }

            &.active {
              text-decoration: underline 3px solid var(--blue-500);
            }
          }
        }
      }
    }
  }
}
