@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

#main-footer {
  margin-top: auto;
  border-top: solid 1px var(--page-border);

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-200 0 $spacing-250 0;

    p {
      margin: 0;
    }


  }
}