@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

#main-footer {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-200 0 $spacing-250 0;

    p {
      margin: 0;
    }

    ul {
      list-style: none;
      gap: $spacing-200;
      display: flex;
      margin: 0;

      li {
        a {
          transition: ease .2s;

          &:hover {
            opacity: 0.7;
          }

          svg {
            max-width: $icon-max-width;
            width: 100%;
            height: auto;

            > path {
              fill: var(--social-icon-background)
            }
          }
        }
      }
    }
  }
}