@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;

.home-intro {
  border-bottom: solid 1px var(--page-border);
  margin: $spacing-400 0 0;
  padding: 0 0 $spacing-400 0;

  h2, p {
    margin: 0 0 $spacing-300 0;
  }

  .home-intro__socials {
    display: flex;
    gap: $spacing-150;

     a {
      display: flex;

        svg {
          > path {
            &:first-of-type {
              fill: var(--intro-social-icon-background);
            }

            &:last-of-type {
              fill: var(--intro-social-icon-foreground);
            }
          }
        }
    }
  }
}